
body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
}


body .header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 20px 170px 120px 170px;
    gap: 100px;
}

.header .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .toolbar .logo {
    font-size: 22px;
    color: #F9FAF8;
    font-weight: 550;
}
.header .toolbar .links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}
.header .toolbar .links a {
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 18px;
    color: #c6cce2;
}


.header .content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 50px;

}
.header .content .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 220px;
    background-color: #7c7f82;
    color: #E5E7EB;
}
.header .content .text {
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 10px;
}
.header .content .text .title {
    font-size: 42px;
    font-weight: bolder;
    color: #F9FAF8;
}
.header .content .text .subtext {
    font-size: 18px;
    color: #c6cce2;
}
.header .content .text button {
    width: 120px;
    height: 35px;
    color: #F9FAF8;
    background-color: #3382F6;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}



body .information {

}

body .quote {

}

body .action {

}

body .footer {

}